@import '../../scss/data/mixins.scss';

.notFound {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  @include adaptive-value('padding', 100, 20);
  @include adaptive-value('padding-bottom', 200, 50);

  h1 {
    font-weight: 700;
    @include adaptive-value('font-size', 32, 26);
    margin-bottom: 10px;
    color: #000000;
  }
}

.description {
  @include adaptive-value('font-size', 22, 18);
}