$background: #ffdf8c;
$mainTextColor: #2C2C2C;
$effectColor: #fe5f1e;


// Размеры окон
$maxWidth: 1920;
$maxWidthContainer: 1400;

// Цвета
$mainColorOne: #02B9FD;
$mainColorTwo: #5A33E2;
$addColorOne: #FE8603;
$addColorTwo: #E32E7F;
$mainBGColor: #0A091F;



// Размеры шрифтов
$bigFS: 36;
$mediumFS: 24;
$regularFS: 18;
$smallText: 16;

// Отступы
$bigIndent: 40;
$mediumIndent: 20;
$regularIndent: 15;
$smallIndent: 10;